src/main/mule/assignment.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e965a2e0-41d5-46e4-8232-31b0e0ed3292" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="assignmentFlow" doc:id="454cbc19-b35d-45ad-8ec8-dfea3e603d03" >
		<http:listener doc:name="Listener" doc:id="f43d7412-bda9-4d0e-ba51-05488328e31b" config-ref="HTTP_Listener_config" path="/assign"/>
		<set-payload value="#['message assignment change']" doc:name="Set Payload" doc:id="5119802e-89f4-45d3-a5f9-a189bacfd8c4" />
	</flow>
</mule>
